.all{
    background-color:#404040 ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    text-align: center;
}
.new{
    color: aliceblue;
    font-size:  50px;   
}
.Rbtn{
    position: fixed;
    margin-left: -100%;
    color:#2F75B5;

}

.cautiontext{
    color: aliceblue;
    font-size:  20px;
   
}

.consenttext{
    color: aliceblue;
    font-size:  20px;
    height: 60px;
}



