
    <div class="side">
        <div id="sidebar_login">
            <div class="d-flex flex-column p-3 text-white bg-white" style="width: 175px; height: 100vh;">
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="user_config_profile" class="nav-link text-dark" id="Profiee">
                    </svg>
                    <p></p>
                    <div class="prh">プロフィール</div>
                    <p></p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="user_config_tuuti" class="nav-link text-dark" id="notice">
                    </svg>
                    <p></p>
                    <div class="prh">通知</div>
                    <p></p>
                    </a>
                </li>
                <li>
                    <a href="user_config" class="nav-link text-dark" id="account">
                    </svg>
                    <p></p>
                    <div class="prh">アカウント</div>
                    <p></p>
                </a>
                </li>
                <li>
                    <a href="user_config_game" class="nav-link text-dark" id="game">
                        <p></p>
                        <div class="prh">ゲーム</div>
                        <div class="prh">プロフィール</div>
                        <p></p>
                    </a>
                </li>
                </ul>
            </div>
        </div>
    </div>