<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<!-- cssファイルを読み込むもの -->
	<link rel="stylesheet" href="css/recruitmment.css">
	<link rel="stylesheet" href="css/sidebar.css">

	<!-- jQuery -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		$(function() {
			$("#sidebar").load("components/sidebar.html");
		});
	</script> -->
	<!-- タイトル -->
	<title>Gnet</title>
</head>
<body>
	<!-- 共通部品 -->
	<!-- <div id="sidebar"></div> -->

	<div th:insert="~{components/sidebar}"></div>


	<div id="body">
		<div class="main">
			<div class="container">
				<div class="row">
					<div class="col m-5 text-white p">
						<h1>仲間募集</h1>
					</div>
				</div>

				<div class="row ms-5">
					<div>
						<!--タブ-->
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li th:each="key : ${mapPost.keySet()}" class="nav-item" role="presentation">
								<button class="nav-link" th:classappend="${keyStat.first} ? 'active' : ''" th:id="|${key}-tab|" data-bs-toggle="tab" th:data-bs-target="|#__${key}__|" type="button" role="tab" th:aria-controls="__${key}__"  th:text="${key}" aria-selected="true">Home</button>
							</li>
							<button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#gameModal">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
								</svg>
							</button>
						</ul>
						<!-- 内容 -->
						<div class="tab-content" id="myTabContent">
							<div th:each="key : ${mapPost.keySet()}" class="tab-pane fade " th:classappend="${keyStat.first} ? 'show active' : ''" th:id="${key}" role="tabpanel" th:aria-labelledby="|${key}-tab|">
								<div th:each="pos : ${mapPost.get(key)}">
									<div class="mt-2" th:insert="~{components/comment}"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:insert="~{components/addGameModal}"></div>




	<!-- BootStrapのもの -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
	-->
</body>
</html>