<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- cssファイルを読み込むもの -->
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/sidebar.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- jQuery -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		$(function() {
			$("#sidebar").load("components/sidebar.html");
		});
	</script> -->

    <!-- タイトル -->
    <title>Gnet</title>
</head>
<body>
    <!-- 共通部品 -->
	<!-- <div id="sidebar"></div> -->

    <div th:insert="~{components/sidebar}"></div>


    <div class="main">
        <form action="searchRequest" method="get">

            
            <div class="container">
                <!-- 検索バー-->
                <div class="row">
                    <div class="col mt-5">
                        <div class="form-floating ms-5">
                            <input type="text" class="form-control" name="message" id="floatingInput" placeholder="">
                            <label for="floatingInput">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                                検索
                            </label>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <!-- ゲームアイコン-->
                    <div id="selectGameList" class="row">
                        
                    </div>
                    
                    <!-- プラスボタン-->
                    <div class="col mt-5">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#gameModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-grid fixed-bottom ot">
                        <!-- align-items-conter が上下の中央ぞろえ -->
                        <!-- justify-content-center が左右の中央ぞろえ -->
                        <!-- タグ一覧-->
                        <div class="size overflow-scroll sc">
                            <div class="row">
                                <div class="col-4 m-5 p" th:each="tag : ${tagList}">
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-primary" type="submit" name="tag" th:value="${tag.id}">
                                            <h3 th:text="|#${tag.title}|">タグ</h3>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    

    
    <div th:insert="~{components/gameModal}"></div>




    <!-- BootStrapのもの -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!--jQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script src="js/search.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></scrip>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>
</html>